/********* REGOLE CSS GENERALI *********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

.container-flex{
    display: flex;
    height: calc(100vh - 80px);
}


/********* REGOLE CSS BARRA NAVIGAZIONE **********/

nav{
    padding: 20px 20px;
    height: calc(100vh - 80px);
    width: 350px;
    background-color: #000;
    overflow: hidden;
}

#logo{
    width: 60%;
}

.icon-nav{
    width: 10%;
    vertical-align: middle;
}

nav span{
    display: inline-block;
}

nav ul{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: #fff;
}


/*********** REGOLE CSS PARTE CENTRALE PAGINA ***********/


/* Regole barra upgrade */

#center-spotify{
    overflow-y: scroll;
    width: 100%;
    background-color: #141922;
}

#upgrade{
    z-index: 900;
    text-align: right;
    /* DEBUG */
    height: 80px;
    width: 100%;
    background-color: blue;
}

#upgrade a{
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    margin-top: 20px;
    padding: 8px 25px;
    border-radius: 20px;
}


/* Regole album e playlist */

#center-section{
    padding-top: 80px;
}

#header-list ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
}

#header-list a{
    color: #fff;
    text-decoration: none;

}

.album-playlist{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.album-card{
    margin-top: 20px;
    width: calc(100% / 6 - 20px);
}

.album-card img{
    width: 100%;
}

.album-text{
    text-align: center;
}

.album-text h4{
    margin: 10px 0;
}

.playlist-title{
    margin-top: 30px;
}


#center-section span{
    font-size: 12px;
}



/************* REGOLE CSS BARRA RIPRODUZIONE ***************/

#tool-bar{
    width: 100%;
    height: 80px;
    background-color: blueviolet;
}
